<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <meta property="og:image" content="{{ page.image | default: site.title_image }}">
  <meta name="twitter:image" content="{{ page.image | default: site.title_image }}">

  <!-- <link rel="apple-touch-icon" sizes="180x180" href="/assets/png/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/png/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/png/favicon-16x16.png">
  <link rel="manifest" href="/assets/png/site.webmanifest"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
  <link href="/style.css" rel="stylesheet" />
  
  <script>
    window.MathJax = {
      loader: {
        load: [
          "[custom]/annotations.js",
          "[tex]/upgreek",
          "[xy]/xypic.js"
        ],
        paths: {
          custom: "https://cdn.jsdelivr.net/gh/ysulyma/mathjax-extensions/",
          xy: "https://cdn.jsdelivr.net/gh/sonoisa/XyJax-v3@3.0.1/build/"
        }
      },
      options: {
        enableMenu: false
      },
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        packages: {"[+]": ["annotate", "upgreek", "xypic"]}
      }
    };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <body>
    <div hidden>\[
% misc
\newcommand{\~}{\widetilde}
\newcommand{\&lt;}{\left\langle}
\newcommand{\&gt;}{\right\rangle}
\newcommand{\lc}{\lceil}
\newcommand{\rc}{\rceil}
\newcommand{\lf}{\lfloor}
\newcommand{\rf}{\rfloor}
\newcommand{\xra}{\xrightarrow}

% single letters
\newcommand{\A}{\mathbf A}
\newcommand{\C}{\mathbf C}
\newcommand{\F}{\mathbf F}
\newcommand{\G}{\mathbf G}
\newcommand{\N}{\mathbf N}
\newcommand{\O}{\mathcal O}
\newcommand{\P}{\mathcal P}
\newcommand{\Q}{\mathbf Q}
\newcommand{\R}{\mathbf R}
\newcommand{\S}{\mathbf S}
\newcommand{\W}{\mathbf W}
\newcommand{\Z}{\mathbf Z}
\newenvironment{bmatrix*}{\left[\begin{array}{rr}}{\end{array}\right]}

% spaces
\newcommand{\I}{I}
\Annotate[text]{\I}{unit interval $[0, 1]$}

\newcommand{\Sone}{S^1}
\Annotate[text]{\Sone}{unit circle in $\R^2$}

\newcommand{\Dtwo}{D^2}
\Annotate[text]{\Dtwo}{unit disk in $\R^2$}

\newcommand{\Stwo}{S^2}
\Annotate[text]{\Stwo}{unit sphere in $\R^3$}

% algebra
\DeclareMathOperator{\K}{K}
\DeclareMathOperator{\End}{End}
\DeclareMathOperator{\Hom}{Hom}
\DeclareMathOperator{\Ext}{Ext}
\DeclareMathOperator{\Tor}{Tor}
%\DeclareMathOperator{\ker}{ker}
%\DeclareMathOperator{\im}{im}
\DeclareMathOperator{\coker}{coker}
\DeclareMathOperator{\Spec}{Spec}
\DeclareMathOperator{\Spf}{Spf}
\DeclareMathOperator{\Aut}{Aut}
\DeclareMathOperator{\Gal}{Gal}
\DeclareMathOperator{\GL}{GL}
\DeclareMathOperator{\SL}{SL}
\DeclareMathOperator{\gr}{gr}

\newcommand{\Defeq}{\mathrel{:=}}

\newcommand{\psr}[1]{[\![#1]\!]}
\newcommand{\tnsr}{\otimes}
\newcommand{\Fil}{\mathsf{F}}

% THH
\DeclareMathOperator{\THH}{THH}
\DeclareMathOperator{\TC}{TC}
\newcommand{\TCmin}{\TC^-}
\DeclareMathOperator{\TF}{TF}
\DeclareMathOperator{\TP}{TP}
\DeclareMathOperator{\TR}{TR}
\DeclareMathOperator{\TS}{TS}

% prismatic
\newcommand{\Nyg}{\mathcal N}
\newcommand{\prism}{
  \class{prism}{\Delta}
}
\newcommand{\syn}{\mathrm{syn}}

% equivariant
\newcommand{\rog}{\bigstar}
\newcommand{\regconn}[1]{\mathop{\mathsf{P}_{#1}}}
\newcommand{\regslice}[1]{\mathop{\mathsf{P}^{#1}_{#1}}}
\newcommand{\m}{\underline}
\newcommand{\mpi}{\m\pi}

% spaces
\newcommand{\RP}{\mathbf{RP}}
\newcommand{\CP}{\mathbf{CP}}
\]</div>


    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
